:root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
  }





body {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
  	background-color: white;
  	box-sizing: border-box;
  	justify-content: center;
}
a {
	text-decoration: none;
	color: blue;
	
}
.wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: whitesmoke;

}
.login_box {
	position: relative;
	width: 450px;
	border: 2px whitesmoke;
	border-radius: 15px;
	padding: 7.5em 2.5em 4em 2.5em;
	color: black;
  justify-content: center;

}
.login-header {
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: whitesmoke;
	span {
		font-size: 20px;
		color: black;
	}
}
.login-subheader {
	position: absolute;
	top: 12%;
	left: 30%;
	display: flex;
}
.input_box {
	position: relative;
	display: flex;
	flex-direction: column-reverse;
  text-align: left;
	margin: 20px 0;
	border: black;
  justify-content: center;
}
.input-field {
	width: 80%;
	height: 45px;
	font-size: 16px;
	color: black;
	padding-inline: 20px 50px;
	border: white;
	outline-color: white;
  background-color: white;
  
}
#email {
	margin-bottom: 2px;
}
.remember-forgot {
	display: flex;
	justify-content: space-between;
	font-size: 15px;
  
}

.submit {
  width: 100%;
  height: 50px;
  background: rgb(49, 70, 187);
	font-weight: 500;
	border: none;
	cursor: pointer;
	transition: .3s;
	color: white;
  
	
}
.google {
  width: 100%;
  height: 50px;
  background: white;
	font-weight: 500;
	border: black;
	cursor: pointer;
	transition: .3s;
	color: black;
  
	
}
.register {
	text-align: center;
	a {
		font-weight: 500;
	}
}


.card {
  padding: 2em;
}